# Default values for django-ledger-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
image:
  repository: runtesting/django-ledger
  pullPolicy: Always
  tag: "1.0"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""


serviceAccount:

  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}

service:
  type: ClusterIP
  port: 8000


ingress:
  enabled: true
  className: "istio"
  annotations: {}

  hosts:
    - host: test.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []


resources:
  requests:
    memory: "256Mi"
    cpu: "200m"
  limits:
    memory: "512Mi"
    cpu: "500m"


livenessProbe:
  httpGet:
    path: /health/
    port: 8000
  initialDelaySeconds: 60
  periodSeconds: 15
  timeoutSeconds: 5

readinessProbe:
  httpGet:
    path: /health/
    port: 8000
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5


autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

pvc:
  enabled: true
  name: django-static-pvc
  storageClassName: longhorn
  accessMode: ReadWriteOnce
  size: 5Gi

volumes:
  - name: django-static-storage
    persistentVolumeClaim:
      claimName: django-static-pvc


volumeMounts:
  - name: django-static-storage
    mountPath: /data/static

nodeSelector: {}

tolerations: []

affinity: {}

config:
  DB_HOST: "my-postgres-postgresql"
  DB_PORT: "5432"
  DB_NAME: "django_ledger"
  DEBUG: "False"
  STATIC_ROOT: "/data/static"
  STATIC_URL: "/static/"
  MEDIA_ROOT: "/data/media"
  MEDIA_URL: "/media/"
  CSRF_TRUSTED_ORIGINS: "http://localhost,http://localhost:8000"
  SECURE_SSL_REDIRECT: "False"
  SESSION_COOKIE_SECURE: "False"
  CSRF_COOKIE_SECURE: "False"
  DATABASE_URL: "postgres://postgres:postgres@my-postgres-postgresql:5432/django_ledger"
  DJANGO_SETTINGS_MODULE: "django_ledger_starter.settings"
  ALLOWED_HOSTS: "*"

secret:
  DB_NAME: "django_ledger"
  DB_USERNAME: "postgres"
  DB_PASSWORD: "postgres"
  DATABASE_URL: "postgres://postgres:postgres@my-postgres-postgresql:5432/django_ledger"

