apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
  namespace: django
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: longhorn
